@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Inter&display=swap');

.container{
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;
}
/* !Header */
header{
    max-width: inherit;
    width: inherit;
    height: 96px;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-around;
     align-items: center;
    background-color: rgba(213, 144, 110, 0.52);
    backdrop-filter: blur(5px);
}
ul{
    display: flex;
    gap: 60px;
}
li a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 22px;
    border-radius: 15px;
}
.active{
    position: relative;
    display: inline-block;
    color: #D5906E;
    transition: all .7s;
}
.active::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #D5906E;
    transition: width 0.7s;
}
.active:hover::before {
    width: 100%;
  }
.notactive{
    position: relative;
    display: inline-block;
    color: white;
    transition: all .7s;
}
.notactive::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:white;
    transition: width 0.7s;
}
.notactive:hover::before {
    width: 100%;
  }
.notactive{
    position: relative;
    display: inline-block;
    color: white;
    transition: all .7s;
}

.active:hover{
    scale: 1.1;
}
.notactive:hover{
    scale: 1.1;
}
.logo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 44px;
    color: white;
    transition: all .7s;
}
.logo_span{
    color: #D5906E;
}
.logo:hover{
    scale: 1.1;
}
.logo::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:#D5906E;
    transition: width 0.7s;
}
.logo:hover::before {
    width: 50%;
}
.logo::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color:white;
    transition: width 0.7s;
}
.logo:hover::after {
    width: 50%;
}
.sign_in{
    display: flex;
    gap: 17px;
    align-items: center;
}
.sign_in_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #FFFFFF;
    border-radius: 35px;
    transition: all .7s;
}
.fa-cart-shopping{
     font-size: 1rem;
     color: #FFFFFF;
     transition: all .7s;
}
.sign_in_text:hover{
    scale: 1.1;
}
.sign_in_text::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:white;
    border-radius: 35px;
    transition: width 0.7s;
}
.sign_in_text:hover::before {
    width: 100%;
}
.fa-cart-shopping:hover{
    scale: 1.1;
}
/* !banner section */
.banner_section{
    width: 100%;
    height: 720px;
    background-image: url(../images/bannner1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}
.banner_section_div{
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.banner_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 48px;
    color: #FFFFFF;
    animation: color-fade 7s linear infinite;
}
@keyframes color-fade {
    0% {
      color: white;
    }
    50% {
      color: #D5906E;
    }
    100% {
        color: white;
      }
}
.banner_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    animation: text-slide-in 1s ease-out forwards;
    opacity: 0;
}
@keyframes text-slide-in {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.shop_now_btn{
    width: 311px;
    height: 56px;
    border: 2px solid #D5906E;
    background-color: transparent;
    border-radius: 10px;
    transition: all .7s;
    cursor: pointer;
}
.btn_text{
    width: 100%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.shop_now_btn:hover{
    scale: 1.1;
    backdrop-filter: blur(5px);
}
.shop_now_btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 10px;
    background: linear-gradient(45deg, #D5906E, #6c4836);
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
  
.shop_now_btn:hover::before {
    opacity: 1;
}
  
@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.5;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.25;
    }
    100% {
      transform: scale(1);
      opacity: 0.5;
    }
}
/* !Card Section */
.card_section{
    max-width: 1920px;
    width: 100%;
    height: 526px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.section1_cards{
    width: 50%;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}
.card{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    transition: all .7s;
    cursor: pointer;
    border-radius: 30px;
}
.card:hover{
    transform: translateY(-15px);
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.card_img{
    width: 100%;
    position: relative;
}
.card_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #B53B1B;
}
/* !img section */
.img_section{
    max-width: 1920px;
    width: 100%;
    height: 922px;
    margin-inline: auto;
    background-color: #402101;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
    gap: 40px;
}
.img_section_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
.images{
    width: 100%;
    height: 922px;
    display: grid;
    justify-content: center;
    grid-template-columns: 315px 60px 315px 60px 440px;
    grid-template-rows: 322px 60px 260px;
    grid-template-areas: 
        "figure1 figure1 figure1 . figure2"
        ". . . . figure2"
        "figure4 . figure5 . figure3";
}

.figure1{
    width: 100%;
    grid-area: figure1;
}

.figure2{
    width: 100%;
    grid-area: figure2;
}

.figure3{
    width: 100%;
    grid-area: figure3;
}

.figure4{
    width: 100%;
    grid-area: figure4;
}

.figure5{
    width: 100%;
    grid-area: figure5;
}