@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Inter&display=swap');
.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}
/* !Header */
header {
    max-width: inherit;
    width: inherit;
    height: 96px;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: rgba(213, 144, 110, 0.52);
    backdrop-filter: blur(5px);
}
.header_main_div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fa-bars{
    display: none;
    color: white;
    font-size: 24px;
}
ul{
    display: flex;
    gap: 60px;
}
li a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 22px;
    border-radius: 15px;
}
.active{
    position: relative;
    display: inline-block;
    color: #D5906E;
    transition: all .7s;
}
.active::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #D5906E;
    transition: width 0.7s;
}
.active:hover::before {
    width: 100%;
  }
.notactive{
    position: relative;
    display: inline-block;
    color: white;
    transition: all .7s;
}
.notactive::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:white;
    transition: width 0.7s;
}
.notactive:hover::before {
    width: 100%;
}
.notactive{
    position: relative;
    display: inline-block;
    color: white;
    transition: all .7s;
}

.active:hover{
    scale: 1.1;
}
.notactive:hover{
    scale: 1.1;
}
.logo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 44px;
    color: white;
    transition: all .7s;
}
.logo_span{
    color: #D5906E;
}
.logo:hover{
    scale: 1.1;
}
.logo::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:#D5906E;
    transition: width 0.7s;
}
.logo:hover::before {
    width: 50%;
}
.logo::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color:white;
    transition: width 0.7s;
}
.logo:hover::after {
    width: 50%;
}
.sign_in{
    display: flex;
    gap: 17px;
    align-items: center;
}
.sign_in_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #FFFFFF;
    border-radius: 35px;
    transition: all .7s;
}
.fa-cart-shopping{
     font-size: 1rem;
     color: #FFFFFF;
     transition: all .7s;
}
.sign_in_text:hover{
    scale: 1.1;
}
.sign_in_text::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:white;
    border-radius: 35px;
    transition: width 0.7s;
}
.sign_in_text:hover::before {
    width: 100%;
}
.fa-cart-shopping:hover{
    scale: 1.1;
}
/* !banner section */
.banner_section{
    width: 100%;
    height: 720px;
    background-image: url(../images/bannner1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}
.banner_section_div{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.banner_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 48px;
    color: #FFFFFF;
    animation: color-fade 7s linear infinite;
}
@keyframes color-fade {
    0% {
      color: white;
    }
    50% {
      color: #D5906E;
    }
    100% {
        color: white;
      }
}
.banner_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    animation: text-slide-in 1s ease-out forwards;
    opacity: 0;
}
@keyframes text-slide-in {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.shop_now_btn{
    width: 311px;
    height: 56px;
    border: 2px solid #D5906E;
    background-color: transparent;
    border-radius: 10px;
    transition: all .7s;
    cursor: pointer;
    backdrop-filter: blur(1.5px);
}
.btn_text{
    width: 100%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.shop_now_btn:hover{
    scale: 1.1;
}
.shop_now_btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 10px;
    background: linear-gradient(45deg, #D5906E, #6c4836);
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
  
.shop_now_btn:hover::before {
    opacity: 1;
}
/* !Card Section */
.card_section{
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
    padding-top: 160px;
    padding-bottom: 160px;

}
.section1_cards{
    width: 75%;
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
}
.card{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    transition: all .7s;
    cursor: pointer;
    border-radius: 30px;
}
.card:hover{
    transform: translateY(-15px);
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.card_img{
    width: 110%;
    position: relative;
}
.card_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 22px;
    color: #B53B1B;
    text-align: center;
}
/* !img section */
.img_section{
    width: 100%;
    margin-inline: auto;
    background-color: #402101;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
    gap: 40px;
    overflow-x: hidden;
    padding-top: 96px;
    padding-bottom: 96px;
}
.img_section_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
/* !.images{
    width: 85%;
    display: grid;
    justify-content: center;
    grid-template-columns: 315px 60px 315px 60px 440px;
    grid-template-rows: 322px 60px 260px;
    grid-template-areas: 
        "figure1 figure1 figure1 . figure2"
        ". . . . figure2"
        "figure4 . figure5 . figure3";
}

.figure1{
    width: 100%;
    grid-area: figure1;
}

.figure2{
    width: 100%;
    grid-area: figure2;
}

.figure3{
    width: 100%;
    grid-area: figure3;
}

.figure4{
    width: 100%;
    grid-area: figure4;
}

.figure5{
        width: 100%;
    grid-area: figure5;
/* }  როდესაც გრიდი გამოვიყენე რესპონსივის წერის დროს რაც არ უნდა მეცადა ფოტოები არ იყრებოდა ქვევიტ, ამიტომ მომიწია flex ით აწყობა*/ 
.img_section_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
  }
  .images_div1{
      display: flex;
      flex-direction: row;
      gap: 60px;
  }
  .images_div2{
      display: flex;
      gap: 60px;
      margin-top: 60px;
  }
/* !Latest Products */
.latest_products{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 160px;
    gap: 40px;
}
.latest_products_div{
    gap: 24px;
}
.latest_product_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 48px;
    color: #402101;
    animation: color-fade2 7s infinite;
}

@keyframes color-fade2 {
    0% {
      color: #b35904;
    }
    50% {
      color: #402101;
    }
    100% {
        color: #b35904;
      }
}
.arrow_btn{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B53B1B;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all .7s;
}
.fa-angle-left{
    font-size: 40px;
    color: #FFFFFF;
}
.fa-angle-right{
    font-size: 40px;
    color: #FFFFFF;
}
.latest_products_div{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow_btn:hover{
    scale: 1.1; 
}
.arrow_btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 5px;
    background: linear-gradient(45deg, #D5906E, #6c4836);
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
.arrow_btn:hover::before {
    opacity: 1;
}
.latest_products_images{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.latest_products_image{
    width: 315px;
    height: 260px;
    border-radius: 8px;
    transition: all .7s;
    background-position: center;
    background-repeat: no-repeat;
}
.latest_products_image1{
    background-image: url("../images/latest_img1.png");
}
.latest_products_image2{
    background-image: url("../images/latest_img2.png");
}
.latest_products_image3{
    background-image: url("../images/latest_img3.png");
}
.latest_products_image4{
    background-image: url("../images/latest_img4.png");
}
.latest_products_image:hover{
    transform: translateY(-15px);
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.1);
}
.price_tag{
    width: 88px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 196px 16px 16px;
}
.price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875rem;
    color: #B53B1B;
}
/* !Subscribe */
.subscribe_to_newsletter{
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    background-image: url("../images/subscripe_background_img.png");
    background-position: center;
    background-repeat: no-repeat;
}
.subscribe_to_newsletter_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 48px;
    color: #FFFFFF;
}
.subscribe_div{
    display: flex;
}
.subscripe_to_newsletter_input{
    width: 331px;
    height: 56px;
    left: 0px;
    top: 104px;
    border: 1px solid #FFFFFF;
    border-radius: 10px 0px 0px 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #FFFFFF;
    background-color: transparent;
    padding: 19px 19px;
}
.subscribe_submit{
    width: 151px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 0px 10px 10px 0px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 22px;
    color: #402101;
    cursor: pointer;
}

/* !what is artistry article */
.what_is_artistry{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 160px;
    gap:40px;
}
.what_is_artistry_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 44px;
    color: #402101;
}
.what_is_artistry_div{
    width: 76%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.what_is_artistry_text_div{
    width: 439px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    left: 1px;
    top: 0px;
    background: rgba(213, 144, 110, 0.3);
    border-radius: 8px;
}
.artistry_text_div_title{
    width: 100%;
    height: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 24px;
    color: #B53B1B;
}
.artistry_text_div_text{
    width: 100%;
    height: 75%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 18px;
    color: #402101;
}
.what_is_artistry_question{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 112px;
}
.what_is_artistry_question_title{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 29px;
    color: #402101;
}
.help_center_btn{
    width: 309px;
    height: 56px;
    background: #B53B1B;
    border-radius: 10px;
    padding: 14px 52px;
    border: none;
    cursor: pointer;
    transition: all .7s;
}
.help_center_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #FFFFFF;
}
.help_center_btn:hover{
    transform: translateY(-5px);
    box-shadow: 1px 6px 5px rgba(0, 0, 0, 0.1);
}
/* !Footer */
footer{
    width: 100%;
    background: #402101;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.footer_main_div{
    width: 62%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_ul{
    flex-direction: column;
    gap: 8px;
}
.footer_a1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 22px;
    color: #FFFFFF;
}
.footer_a2, .footer_a3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    color: #FFFFFF;
    transition: all .7s;
}
.notactive::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:white;
    transition: width 0.7s;
}
.notactive:hover::before {
    width: 100%;
}

.footer_icons{
    display: flex;
    margin-top: 45px;
    gap: 30px;
}
.fa-brands{
    font-size: 2.5rem;
    color: white;
    transition: all .7s;
}
.fa-youtube:hover{
    scale: 1.1;
    transform: translateY(-5px);
    text-shadow: 1px 10px 5px rgba(0, 0, 0, 0.1);
    color: red;
}
.fa-facebook:hover{
    scale: 1.1;
    transform: translateY(-5px);
    text-shadow: 1px 10px 5px rgba(0, 0, 0, 0.1);
    color: blue;
}
.fa-instagram:hover{
    scale: 1.1;
    transform: translateY(-5px);
    text-shadow: 1px 10px 5px rgba(0, 0, 0, 0.1);
    color: orangered;
}
.footer_div2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_contact_ul{
    flex-direction: column;
}
.footer_contact_a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    color: #FFFFFF;
}
.fa-phone, .fa-envelope, .fa-location-dot{
    font-size: 1rem;
    color: #FFFFFF;
    margin-right: 16px;
}
